<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <title>Best of the year</title>
  </head>
  <body>
    <header th:fragment="header">
      <div class="d-flex">
        <div class="padding-left col-30">
          <h2>Best of</h2>
        </div>
        <div class="padding-left col-70">
          <a th:href="@{http://localhost:8080/bestMovies}">Movies</a>
          <a th:href="@{http://localhost:8080/bestSongs}">Songs</a>
        </div>
      </div>
    </header>
    <main>
      <div class="margin-top">
        <div class="container">
          <h1 th:text="|Best of the year by ${name}|" />
        </div>
      </div>
    </main>
  </body>
</html>
